<!DOCTYPE html>
<html>
  <head>
    <title>ShoppingMall</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= notice %>
      <%= yield %>
    </div>
    <!-- 如果處於開發模式下，則在頁面啟動 Rails console 控制台畫面 by 助教 Bill-->
    <%= console if Rails.env.development? %>
  </body>
</html>
